springframework/src/main/resources/META-INF/ds.xsd

<?xml version="1.0"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns="https://www.ds.com/schema/ds"
        targetNamespace="https://www.ds.com/schema/ds">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="ds">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
<!--                    <xsd:attribute name="id" type="xsd:string"/>-->
                    <xsd:attribute name="class" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>